@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Lexend Deca', Inter; 
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    height: 900px;
    display: flex;
    align-items: center;
}

#container {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    height: auto;
    border-radius: 10px;
    overflow: hidden
}

#info {
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;

}


#info h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    font-size: 2.2vw;
    font-weight: 700;
}

#info > p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 20px;
    font-size: 0.9vw;
    font-family: Inter;
    margin-right: 20%

}


#image {
    background: url(image-header-desktop.jpg) ;
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    min-width: 50%;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 40px
}

#stats h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5vw;
}

#stats p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9vw;
    font-family: Inter;
    margin-top: 5px
}


@media screen and (max-width: 1000px) {

    #image {
        background: url(image-header-mobile.jpg) ;
        background-size: cover;
        background-color: hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        width: 100%;
        height: 30%;
    }

    #container {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        margin: auto auto;
        height: 70%;
        width: 90%;
        border-radius: 10px;
        overflow: hidden
    }

    #info {
        background-color: hsl(244, 38%, 16%);
        width: 100%;
        height: 70%;
        padding:0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    
#info h1 {
    color: hsl(0, 0%, 100%);
    margin: 20px 20px 20px 20px;
    font-size: 7.5vw;
    font-weight: 700;
    padding: 0 20px
}

#info > p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 20px;
    font-size: 4vw;
    font-family: Inter;
    margin: 10px auto;
    padding: 0 40px

}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-right: 40px
}

#stats h2 {
    color: hsl(0, 0%, 100%);
    font-size: 5vw;
    padding-top: 20px
}

#stats p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 4vw;
    font-family: Inter;
    margin-top: 5px;

}
    
}